body{
    background-color:#29303D;
    background-image: url(./Images/girl.png);
    margin: 0;
    padding: 0;
}
.navbar-menu{
    display: flex;
    flex-direction: row;
    margin: auto 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav{
    display: flex;
    gap:200px;

}
.nav-item{
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
   font-family: Source Sans Pro; 
   color: #fff;
}
a:hover{
    color: #FF6565;
}
.main{
    text-align: center;
    margin: 250px 80px;
    color: #fff;
}
.main h2{
    font-size: 32px;
    font-weight: bold;
}
.main h3{
    margin-top:0;
}
.btn{
    padding: 10px 20px;
    border-radius: 4px;
    background-color:#FF6565;
    color:#fff;
    
}
